/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*custom css*/

.wrapper {
    background-color: #ffffff;
    color: #a1abc0;
    min-height: 100vh;
    height: 100%;
}

.header {
    font-family: 'Open Sans', sans-serif;
    font-size: 33px;
    font-weight: 300;
    line-height: 80px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #00b9ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delButton {
    border: none;
    width: 40px;
    height: 40px;
    background-color: #50d2c2;
    border-radius: 50%;
    cursor: pointer;
    color: #ffffff;
    font-size: 25px;
    font-weight: 300;
}

.taskInput {
    width: 90%;
    height: 50px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(000, 0, 0, .1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5%;
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 80px;
}

.taskInput::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 80px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.taskItem {
    width: 90%;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5%;
    border-bottom: 2px solid rgba(255, 0, 0, .05);
    color: #1d1d26;
    font-size: 32px;
    font-weight: 300;
    line-height: 48px;
}

.taskItem:hover {
    opacity: 1;
}

.taskItem span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 80px;
    text-transform: uppercase;
    padding-left: 20px;
    color: #1d1d26;
    font-size: 32px;
}