/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrapper {
    background-color: #333845;
    color: #a1abc0;
    min-height: 100vh;
    height: 100%;
}

.header {
    color: #8192ad;
    font-family: 'Open Sans', sans-serif;
    font-size: 33px;
    font-weight: 300;
    line-height: 80px;
    text-transform: uppercase;
    background-color: #1a2131;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delButton {
    border: none;
    width: 200px;
    height: 90px;
    background-color: #1f74ad;
    background-image: linear-gradient(80deg, rgba(36, 138, 185, 0.66) 0%, rgba(64, 63, 144, 0.66) 100%);
    cursor: pointer;
    color: red;
    font-size: 40px;
}

.taskInput {
    width: 90%;
    height: 50px;
    border-radius: 3px 4px 4px 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5%;
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 80px;
}

.taskInput::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 80px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.taskItem {
    opacity: 0.5;
    width: 90%;
    height: 90px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.07), inset 0 1px 7px rgba(25, 26, 28, 0.78);
    border-radius: 3px 4px 4px 3px;
    background-color: #232c3b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5%;
}

.taskItem:hover {
    opacity: 1;
}

.taskItem span {
    color: #cad4ec;
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 80px;
    text-transform: uppercase;
    padding-left: 20px;
}